* {
  margin: 0;
  padding: 0;
}
body {
  background: url("./Majestic Mountain Landscape at Twilight.png") no-repeat;
  background-size: cover;
  color: white !important;
}

ul {
  color: white;
}

.header-container {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(2px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.515);
}

.header-container .nav-content ul,
li,
a {
  text-decoration: none;
  text-transform: uppercase;
  list-style: none;
  color: whitesmoke;
}

.nav-content ul {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  letter-spacing: 1px;
}
.nav-content nav li {
  transition: transform 0.3s ease;
}
.nav-content nav li:hover {
  transform: scale(1.2);
}
.header-logo img {
  width: 80px;
}
