* {
  margin: 0;
  padding: 0;
}
body {
  background: url("./Majestic Mountain Landscape at Twilight.png") no-repeat;
  background-size: cover;
  color: white !important;
}

ul {
  color: white;
}

.header-container {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(2px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.515);
}

.header-container .nav-content ul,
li,
a {
  text-decoration: none;
  text-transform: uppercase;
  list-style: none;
  color: whitesmoke;
}

.nav-content ul {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  letter-spacing: 1px;
}
.nav-content nav li {
  transition: transform 0.3s ease;
}
.nav-content nav li:hover {
  transform: scale(1.2);
}
.header-logo img {
  width: 80px;
}
/* ==================Toggle Menu=========================== */
/* toggle button design  */
.bars-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.bars-container .bar-1,
.bar-2,
.bar-3 {
  background-color: white;
  width: 40px;
  height: 5px;
  border-radius: 12px;
  transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width,
    0.3s ease right;
}

.openmenu .bar-1 {
  width: 0;
  transform-origin: 0;
}

.openmenu .bar-3 {
  transform: rotate(-45deg) translate(7.5px, -7.5px);
  transform-origin: 60px;
}

.openmenu .bar-2 {
  transform: rotate(45deg) translate(7.5px, 7.5px);
}
/* =====================End Toggle Menu======================== */
/* mobile responsive Style  */

@media (max-width: 768px) {
  .nav-content {
    background-color: rgb(0 18 34);
    width: 60%;
    height: 100vh;
    display: flex;
    align-items: center;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
  }

  .nav-content ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    padding-left: 20px;
  }
  .login-button {
    display: none;
  }
}
