* {
  margin: 0;
  padding: 0;
}
body {
  background: url("./Majestic Mountain Landscape at Twilight.png") no-repeat;
  background-size: cover;
  color: white !important;
}

ul {
  color: white;
}

.header-container {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(2px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.515);
}

.header-container .nav-content ul,
li,
a {
  text-decoration: none;
  text-transform: uppercase;
  list-style: none;
  color: whitesmoke;
}

.nav-content ul {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  letter-spacing: 1px;
}
.nav-content nav li {
  transition: transform 0.3s ease;
}
.nav-content nav li:hover {
  transform: scale(1.2);
}
.header-logo img {
  width: 80px;
}
.login-button {
  background-color: rgb(0 157 149 / 99%);
  padding: 10px 18px 10px 18px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .nav-content {
    background-color: rgb(0 18 34);
    width: 60%;
    position: fixed;
    top: 0%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(70%);
    transition: transform 0.5s ease-in-out;
    z-index: 5;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
    margin-left: 100%;
    transition: all 0.5s ease;
  }

  .header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .nav-content ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    padding-left: 20px;
  }
  .login-button {
    display: none;
  }
  /* ==================Toggle Menu=========================== */
  /* toggle button design  */
  .bars-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    cursor: pointer;
    z-index: 6;
    right: 10px;
  }

  .bars-container .bar-1,
  .bar-2,
  .bar-3 {
    background-color: white;
    width: 30px;
    height: 5px;
    border-radius: 12px;
    transition: 0.3s ease-in-out;
  }

  .bars-container.open .bar-1 {
    transform: translateY(10px) rotate(45deg);
  }

  .bars-container.open .bar-2 {
    opacity: 0;
  }

  .bars-container.open .bar-3 {
    transform: translateY(-10px) rotate(-45deg);
  }
  /* =====================End Toggle Menu======================== */
  /* mobile responsive Style  */

  /* mobile menu display when toggle  */
  .showmenu.nav-content {
    background-color: rgb(29, 29, 29);
    width: 60%;
    position: fixed;
    top: 0%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(70%);
    transition: transform 0.5s ease-in-out;
    z-index: 5;
    margin-left: 0%;
    transition: all 0.5s ease;
  }
}
